<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/auth/indexPageStyles.css">

    <link rel="stylesheet" href="/css/common/banner.css">
    <script src="/js/bannerHandler.js"></script>
</head>
<body>

<div th:if="${param.loginFirst}" class="banner">
    Please login or registrate a new account first to access this page.
</div>

<div th:if="${param.loginAgain}" class="banner">
    Your sessions have expired. Please log in again!
</div>

<div class="container">
    <h1>Welcome!</h1>
    <div class="greeting-text">
        Please log in or register to continue.
    </div>
    <button class="button" onclick="window.location.href='/auth/login'">Login</button>
    <button class="button" onclick="window.location.href='/auth/registration'">Register</button>
</div>
</body>
</html>
