<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/auth/loginAndRegistrationPageStyles.css">
</head>
<body>
<div class="container">
    <h1>Register</h1>

    <!-- Username Field -->
    <form th:method="POST" th:action="@{/auth/process_registration}" th:object="${userRegistrationDTO}">
        <div>
            <div class="message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
            <input type="text" id="username" th:field="*{username}" placeholder="Username" required/>
        </div>

        <!-- Password Field -->
        <div>
            <div class="message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            <input type="password" id="password" th:field="*{password}" placeholder="Password" required/>
        </div>

        <!-- Confirm Password Field -->
        <div>
            <input type="password" id="confirm-password" th:field="*{confirmPassword}" placeholder="Confirm Password" required/>
        </div>

        <!-- Submit Button -->
        <button type="submit">Register</button>
    </form>

    <!-- Login Link -->
    <div class="text">Already registered?</div>
    <a href="/auth/login" class="link">Log In</a>
</div>
</body>
</html>
